
* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: "Segoe UI";
    background-color: rgb(217,228,221);
    margin: 0;
  }

  /* Header/logo Title */
  h1{
    text-align: center;
    font-size:350%;
    color:rgb(69, 98, 104);
  }

  h2{
    text-align: center;
    font-size:125%;
    padding-bottom: 1%;
    color:rgb(69,98,104);
  }

  /* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
  .navbar {
    overflow: hidden;
    background-color: rgb(69, 98, 104);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }
  /* Style the navigation bar links */
  .navbar a {
    float: left;
    display: block; 
    color: rgb(252, 248, 236);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  /* Right-aligned link */
  .navbar a.right {
    float: right;
  }
  /* Change color on hover */
  .navbar a:hover {
    background-color:rgb(252,248,236);
    color: rgb(85,85,85);
  }
  /* Active/current link */
  .navbar a.active {
    background-color: #666;
    color: rgb(207, 176, 38);
  }
  
  .navbarRRHH {
    align: center;
    overflow: hidden;
    background-color: rgb(69, 98, 104);
    top: 0;
  }
  /* Style the navigation bar links */
  .navbarRRHH a {
    float: left;
    display: block; 
    color: rgb(252, 248, 236);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  /* Right-aligned link */
  .navbarRRHH a.right {
    float: right;
  }
  /* Change color on hover */
  .navbarRRHH a:hover {
    background-color:rgb(252,248,236);
    color: rgb(85,85,85);
  }
  /* Active/current link */
  .navbarRRHH a.active {
    background-color: #666;
    color: rgb(207, 176, 38);
  }
  
  .navbarVertical {
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(69, 98, 104);
    width: 200px;
    top: 0; 
  }
  .navbarVertical a {
    display: block; 
    color: rgb(252, 248, 236);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  .navbarVertical a:hover {
    background-color:rgb(252,248,236);
    color: rgb(85,85,85);
  }
  .navbarVertical a.active {
    background-color: #666;
    color: rgb(207, 176, 38);
  }

  /*Texto cualquiera*/
  .texto1 {
    background-color: rgb(252, 248, 236);
    color: rgb(85,85,85);
    border: 10px solid rgb(69,98,104);
    margin: 20px;
    padding: 20px;
    text-align: center;
  }
  
  .menuBar {
    align: center;
    background-color: rgb(252, 248, 236);
    color: rgb(85,85,85);
    border: 10px solid rgb(69,98,104);
    margin: 20px;
    padding: 20px;
    text-align: center;
  }
  
  .infoTable {
    top: 0;
  }
   
  #tablaEmpleados{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #tablaEmpleados td, #tablaEmpleados th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #tablaEmpleados tr:nth-child(even){background-color: #f2f2f2;}

  #tablaEmpleados tr:hover {background-color: #ddd;}

  #tablaEmpleados th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(69, 98, 104);;
    color: white;
  }
  
  .listas {
    text-align:left;
    padding-left: 125px;
    padding-bottom: 25px;
  }

  .boton {
    padding: 10px; /*espacio alrededor texto*/
    background-color: rgb(69,98,104); /*color botón*/
    color: rgb(252, 248, 236); /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-color: rgb(69,98,104);
    border-radius: 50px; /*bordes redondos*/
  }

  .boton:hover{
    color: rgb(69,98,104);
    background-color: rgb(217,228,221);
  }

  .campo_texto{
    background-color: rgb(252, 248, 236);
    color: rgb(85,85,85);
    text-align: center;
    border-style: hidden;
  }

  .pie {
    text-align: center;
    color:rgb(85,85,85);
    font-size: smaller;
  }
  
  #tablaProyectos{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #tablaProyectos td, #tablaProyectos th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #tablaProyectos tr:nth-child(even){background-color: #f2f2f2;}

  #tablaProyectos tr:hover {background-color: #ddd;}

  #tablaProyectos th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(69, 98, 104);;
    color: white;
  }
  
  /*............CALENDARIO...............*/
  * {
            -webkit-box-sizing: border-box;
            box-sizing: border-box; 
        }
        
        .calendar {
            background: rgb(252, 248, 236);
            width: 80%;
            max-width: 600px;
            margin: 1em auto;
            padding: .5em 0; 
        }

        .calendar__info {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding: 0 2em;
            font-size: 1.2em;
            text-transform: uppercase; 
            font-family: "Segoe UI";
            padding-bottom: 4%;
            padding-top: 1%;
        }

        .calendar__prev, .calendar__next {
            color: rgb(69, 98, 104);
            cursor: pointer;
            font-size: 1.3em; 
        }

        .calendar__prev {
            margin-right: auto; 
        }
        
        .calendar__next {
            margin-left: auto; 
        }

        .calendar__week, .calendar__dates {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-gap: 10px; 
            font-family: "Segoe UI";
        }
                
        .calendar__month, .calendar__year {
            padding: .5em 1em; 
        }
            
        .calendar__item {
            text-align: center;
            line-height: 2; 
        }
            
        .calendar__today {
            background: rgb(69, 98, 104);
            color: rgb(252, 248, 236);
            width: 50%;
            border-radius: 50%;
            margin: auto; 
        }
        
        .calendar__last-days {
            opacity: .3; 
        }